.teamIdContainer {
    padding: 10px 0px;
    font-family: monospace;
}

.enterTeamNamePrompt {
    padding: 10px 0px;
    font-size: x-large;
}

.teamIdForm {
    font-size: medium;
}

.teamIdField {
    display: block;
    margin: 0 auto 10px 0;
    width: 25%;
    min-width: 200px;
}


/* Team Details table */

.teamDetailsTable{
    margin-top: 20px;
    min-width: 100%;
}



